:root {
    font-size: 100%;
}

html * {
    font-family: "opendyslexic3regular";
}

html {
    margin : 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(153, 230, 243), rgb(35, 5, 44));
}

body {
    min-height: 600px;
    height: 100vh;
    width: 100vw;
    margin : 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(160, 150, 248); */
}

#readme:link, #readme:visited, #readme:hover {
color: white;
font-size: 1.2rem;
width: 100%;
background-color: rgba(102, 51, 153, 0.1);
height:fit-content;
margin: 0 auto;
text-align: center;
}

#container {
    width: 80%;
    height: 92%;
    margin: auto auto;
    background-color: rgba(255, 0, 100, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
}

#display {
    width: 80%;
    margin: 1% auto;
    padding: 2% 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.scores {
    padding: 1%;
    margin: 1%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    cursor: default;
}

.leading {
    text-decoration: underline;
    box-shadow: 0 0 3px 3px whitesmoke;
}

#human {
    width: 40%;
    height: 100%;
    min-width: 120px;
    min-height: 120px;
   margin: 2%;
   padding-right: 5%;
   border-right: 8px double rgb(17, 11, 43);
}

#cpu {
    width: 40%;
    height: 100%;
    margin: 2%;
    min-width: 120px;
    min-height: 120px;
}

img {
    width: 100%;
    height: 100%;
    opacity: 80%;
}

#div-btns {
    width: 80%;
    background-color: rgba(102, 51, 153, 0.3);
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

button {
    width: 180px;
    height: 180px;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 40px;
    border-radius: 20px;
    transition: transform 0.08s linear;
    cursor: pointer;
}

button:hover {
border-color: rgba(245, 222, 179, 0.8);
box-shadow: 0 0 5px 5px rgba(245, 222, 179, 0.5);
transform: scale(1.05);
}


#rock {
background-image: url(../images/rock.png);
background-repeat: no-repeat;
background-position: center;
}

#paper {
background-image: url(../images/paper.png);
background-repeat: no-repeat;
background-position: center;
}

#scissors {
background-image: url(../images/scissors.png);
background-repeat: no-repeat;
background-position: center;
}

button:active {
    background-color: rgba(255, 0, 50, 0.1);
}

#display-text {
    text-align: center;
    margin: 0 auto;
    height: fit-content;
    max-height: 18%;
    width: 80%;
    background-color: rgba(31, 31, 70, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: baseline;
}

#text {
    border-radius: 20px;
    min-height: 2.5rem;
    max-height: 100%;
    border: 2px solid black;
    margin: 5px 5px;
    line-height: 2.5rem;
    overflow: hidden;
    cursor: default;
}

#again {
    text-align: center;
}

p, .scores, img, a {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

img, .display, a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}